<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring CMS</title>
</head>
<body>
    <h1 th:text="${helloMessage}"></h1>
    <form th:action="@{/add}" method="post">
        <p><input type="text" th:field="${formArticle.title}" /></p>
        <p><textarea th:field="${formArticle.content}" ></textarea></p>
        <p><input type="text" th:field="${formArticle.tags}" /></p>
        <p><input type="submit" value="Add" /></p>
    </form>
</body>
</html>